<h1 id="label">CREATE A GROUP</h1>
<%= form_for @group do |f| %>

  <% if @group.errors.any? %>
    <% @group.errors.full_messages.each do |error_msg| %>
      <em><%= error_msg %>!</em>
    <% end %>
  <% end %>

  <p>
    <%= f.label "Name:" %>
    <%= f.text_field :name, size: 44 %>
  </p>
  
  <p>
    <%= f.label "Description:" %><br><br>
    <%= f.text_area :desc, rows: 10 %>
  </p>
  
  <%= f.submit "submit"%>
<% end %>