<%= form_for @user do |f| %>
  <p>
    <%= f.label "First Name" %>
    <%= f.text_field :fname %>
  </p>
  
  <p>
    <%= f.label "Last Name" %>
    <%= f.text_field :lname %>
  </p>
  
  <p>
    <%= f.label "Gravatar Email" %>
    <%= f.email_field :email %>
  </p>
  
  <p>
    <%= f.label "Cell Phone Number" %>
    <%= f.telephone_field :phone_num %>
  </p>
  
  <%= f.submit %>
<% end %>