<%= form_for @user do |f| %>
  <p>
    <%= f.label :fname %>
    <%= f.text_field :fname %>
  </p>
  
  <p>
    <%= f.label :lname %>
    <%= f.text_field :lname %>
  </p>
  
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  
  <p>
    <%= f.label :phone_num %>
    <%= f.telephone_field :phone_num %>
  </p>
  
  <%= f.submit %>
<% end %>