<h1><%= @user.fname.upcase %>'S INFO</h1>

<% if current_user %>

  <div id="green_avatar">
    <%= image_tag(@avatar) %>
  </div>  

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error_msg| %>
      <em><%= error_msg %>!</em>
    <% end %>
  <% end %>

  <p>
    <%= f.label "bio:" %><br><br>
    <%= f.text_area :bio, :size => 100, :rows => 10 %>
  </p>
  
  <p>
    <%= f.label "projects (include links):" %><br><br>
    <%= f.text_area :projects, :size => 100, :rows => 10 %>
  </p>
  
  <p>
    <%= f.label "website:" %>
    <%= f.text_field :website %>
  </p>
  
  <p>
    <%= f.label "twitter (@handle):" %>
    <%= f.text_field :twitter %>
  </p>
  
  <p>
    <%= f.label "would you like to mentor during work/hangs?" %>
    
    Yes <%= f.radio_button :mentor, true %>
    No <%= f.radio_button :mentor, false %>    
  </p>
  
  <%= f.submit "submit", :id => 'green_button'%>
  
  
<% end %>
<% else %>
  "You are not allowed to access this account"

<%= link_to("Delete Profile", user_path(current_user.id), :method => :delete) %>

<% end %>