
<div id="leftcol_profile">
  
  <div id="green_avatar">
    <%= link_to image_tag(@avatar) %>
  </div>

  <div id="green_button">
    <%= mail_to(@user.email, "send email") %>
  </div>

  <div id="leftcol_profile">
    
    <h3>
      MY TOP FIVE
    </h3>
    
    <% if current_user %>
      <%= link_to("Edit Profile", edit_user_path(@user.id)) %>
    <% end %>
    
  </div>
  
</div>

<div id="rightcol_profile">
  
  <h2><%= @user.fname.upcase %> <%= @user.lname.upcase %></h2>
  <!-- <h1></h1>  TODO shows where user is currently checked in -->
  <!-- TODO if not checked in use IF conditional -->
  
  <p><%= @user.bio %></p>
  
  <h2>PROJECTS</h2>
  <p><%= @user.projects %></p>
  
  <h2>RECENT CHECK-INS</h2>
  <p></p>  <!-- TODO this is where you show most recent checkins by user -->
  
</div>