
<h1 id="label">REVIEW <%= @place.name.upcase %></h1>
    <%= form_for @review do |r| %>
      <% if @review.errors.any? %>
        <%@review.errors.full_messages.each do |error_msg| %>
          <p><%= error_msg %></p>
        <% end %>
      <% end %>
  
  <p>
    <%= r.label :title %>
    <%= r.text_field :title %>
  </p>
  
  <p>
    <%= r.label "review" %><br>
    <%= r.text_area :content %>
  </p>
  <%= r.hidden_field :place_id, :value => @place.id %>
  <%= r.hidden_field :user_id, :value => current_user.id %>

    <%= r.submit %>
<% end %>
 