<h1 id="label">Edit Place</h1>
<p>Please enter the information of the unlisted place below:</p>

    <%= form_for @place do |p| %>
      <% if @place.errors.any? %>
        <%@place.errors.full_messages.each do |error_msg| %>
          <p><%= error_msg %></p>
        <% end %>
      <% end %>
  
  <p>
    <%= p.label :name %>
    <%= p.text_field :name %>
  </p>
  
  <p>
    <%= p.label :desc %>
    <%= p.text_field :desc %>
  </p>
  <p>
    <%= p.label :street %>
    <%= p.text_field :street %>
  </p>
  <p>
    <%= p.label :city %>
    <%= p.text_field :city %>
  </p>
  <p>
    <%= p.label :zipcode %>
    <%= p.text_field :zipcode %>
  </p>
    


    <%= p.submit %>
<% end %>

    <!-- t.string   "name"
    t.string   "desc"
    t.string   "street"
    t.string   "city"
    t.integer  "zipcode"
    t.string   "hours"
    t.integer  "user_id"
    t.integer  "review_id"
    t.datetime "created_at", :null => false
    t.datetime "updated_at", :null => false
    t.boolean  "occupied"
    t.float    "lat"
    t.float    "lng"
    t.text     "photoref"
    t.integer  "group_id" -->