<h1>Business Not Found, Enter Address of Place</h1>


    <%= form_for @place do |i| %>
      <% if @place.errors.any? %>
        <%@place.errors.full_messages.each do |error_msg| %>
          <p><%= error_msg %></p>
        <% end %>
      <% end %>
  
  <p>
    <%= i.label :name %>
    <%= i.text_field :name %>
  </p>

    <%= i.submit %>
<% end %>