<h1 id="label"><%= @place.name %> <% if @check_ins !=[] %>
    <%= link_to("check out", :checkout, :method => :get, :id => 'gray_button') %>
<% else %>
    <% if @user_checkins == [] %>
    <%= link_to("check in", checkin_path(@place.id), :method => :post, :id => 'green_button') %>
    <% end %>
<% end %> </h1>
<h3><%= @place.street %></h3>
<% if @allow_edit == true %>
<h4><%=link_to("Edit Place", edit_place_path(@place))%></h4>
<h4><%= link_to("Delete Place", place_path(@place), :method=> :delete) %></h4>
<% end %>
<% if @present_people %>
<hr>
<% end %>
<!-- <img src= <%= @imgloc %> /> -->
<% unless @present_people.include?(current_user) && @present_people.count == 1 || @present_people == [] %>
<h4>WHO ELSE IS HERE</h4>
<% end %>
<% if @present_people %>
<div id="present_people">
  <% @present_people.each do |working| %>
    <% unless working.id == current_user.id %>
    <% @checked_in = working.check_ins.where(time_out: nil) %>
    <div id="present_person">
    <% if @checked_in != []  %>
    <p>
      <div id="green_avatar"><a href="/users/<%= working.id%>"><img src="<%= Gravatar.new("#{working.email}").image_url + "?s=155" %>"></a></div></p>
    <h3><a href="/users/<%= working.id%>"><%= working.fname %> <%= working.lname %></a></h3>
    <% else %>
    <p><div id="gray_avatar"><a href="/users/<%= working.id%>"><img src="<%= Gravatar.new("#{working.email}").image_url + "?s=155" %>"></a></div></p>
    <h3><a href="/users/<%= working.id%>"><%= working.fname %> <%= working.lname %></a></h3>
    <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
<% end %>
<p><%= link_to "review this place", new_review_path(:place_id => @place.id), :id => 'green_button' %></p>

<% if !@beers.blank? %>
  <h2><%= @place.name %> has the following beverage(s) available:</h2>
  <% @beers.each do |beer| %>
    <h4><%=beer["name"]%>, <%=beer["brewery"] %></h4>
  <% end %>
<% end %>

<% if !@foods.blank? %>
  <h2><%= @place.name %> has the following food item(s) available today:</h2><br>
  <% @foods.each do |food| %>
    <%= food["entree"] %>, <%= food["sides"] %>, <%= food["price"] %><br>
  <% end %>
<% end %>

<% if @message %>
  <h2><%= @message %></h2>
<% end %>

<% if @reviews != [] %>
  <h2>REVIEWS</h2>
  <% @reviews.each do |review| %>
    <h3><%= review.title %></h3>
    <% @reviewer = User.where(:id => review.user_id) %>
    <% @reviewer = @reviewer.first %>
    <% if @reviewer != nil %>
      <p><strong>by
      <%= @reviewer.fname %> <%= @reviewer.lname %></strong></p>

    <% end %>
    <p><%= review.content %></p>
    <% if current_user.id == review.user_id %>
      <h4><%= link_to "Edit", show_review_path(:id => review.id) %>
      <%= link_to "Delete", delete_review_path(:id => review.id) %></h4>
    <% end %>
    <hr>

  <% end %>
<% end %>
