
<h1><%= @place.name %></h1>
<h3><%= @place.street %></h3>
<br>
<%= link_to "Been Here? Review This Place!", new_review_path(@place.id) %>
<p>Google Reference Image:</p>
<img src= <%= @imgloc %> />

<% if @reviews 
  @reviews.each do |review| %>
    <h4><%= review.title %></h4>
    <h5><%= review.content %></h5>

  <% end %>
<% end %>

<% if @present_people %>
  <% @present_people.each do |working| %>
    <img src="<%= Gravatar.new("#{working.email}").image_url + "?s=75" %>">
    <%= working.fname %> <%= working.lname %>
  <% end %>
<% end %>

<% if @check_ins !=[]%>
    <%= binding.pry %>
    <%= link_to("Check out!", :checkout, :method => :get) %>
<% else %>

  <%= link_to("Check in!", checkin_path(@place.id), :method => :post) %>
<% end %>




