<!DOCTYPE html>
<html>
<head>

  <title>Work/Hang</title>
  
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/WorkHang/WorkHang160.png" sizes="160x160">
  <link rel="apple-touch-icon" href="https://s3.amazonaws.com/WorkHang/WorkHang57.png"/>  
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/WorkHang/WorkHang96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/WorkHang/WorkHang16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/WorkHang/WorkHang32.png" sizes="32x32">
  <script type="text/javascript" src="//use.typekit.net/rsb7xmd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<nav class="clearfix" id="header">
  <div id="nav_container">
  <div id="logo">
    <a href="/"><img src="https://s3.amazonaws.com/WorkHang/WorkHangTransparent.png" alt="logo"></a>
  </div>
  
  <% if current_user %>

  <div id="header_middle">
  <div id="nav_links">
    <ul>
      <li><a href="/places">PLACES</a></li>/
      <li><a href="/groups">GROUPS</a></li>/
      <li><a href="/about">ABOUT</a></li>
    </ul>
  </div>
  
  <% @check_ins = current_user.check_ins.where(time_out: nil) %>
  <% if @check_ins == [] %>   
  <div class="checkin_search">
    <%= form_tag "/places/results" do %>
    <input type="text" name="query" placeholder="Check into a place." id="checkin_search" size="42"><br>
    <% end %>
  </div>
  <% else %>
    <% @place_id = @check_ins.first.place_id %>
    <% @place = Place.find(@place_id)%>
    <div id="checkout">
    <div id="check_in_status"><p>I'm at <a href="/places/<%= @place.id %>"><%= @place.name %>.</p></a></div>
    <a href="/checkout"><div id="checkout_button">X</div></a>
    </div>
  <% end %>
  </div>
  
  <div id="profpic">
  <a href="/users/<%= current_user.id %>"><img src="<%= Gravatar.new("#{current_user.email}").image_url + "?s=75" %>"></a>
  </div>
  <div id="settings_and_logout">
  <div id="settings">
    <a href="/users/<%= current_user.id%>/edit"><img src="https://s3.amazonaws.com/WorkHang/System-Settings-icon.png" width=35></a>
  </div>
  <div id="logout">
    <a href="/logout"><img src="https://s3.amazonaws.com/WorkHang/Power.png"></a>
  </div>
  </div>
  
  <% else %>
  
  <div id="login">
    <%= form_tag logins_path do %>
  
      <p>
        <%= text_field_tag :email, nil, placeholder: "email", size: 27 %>
  
        <%= password_field_tag :password, nil, placeholder: "password", size: 27 %>
  
      <%= submit_tag "log in" %>
            </p>
    <% end %>
  </div>
  
  <% end %>
  </div>
</nav>
<div id="container" class="clearfix">
  <div id="body" class="clearfix">
<%= yield %>
</div>
</div>
</div>
</div>
</div>
<div id="bottom"></div>
<footer>
    <div id="footer_container">
    <div id="ocs">
      <a href="http://omahacodeschool.com" target="_blank"><img src="https://s3.amazonaws.com/WorkHang/OCSlogo" alt="omaha code school" width=40></a>
    </div>
    <div id="credit">
      <p>made by Johnathon Lueth, Michael Todd &amp; Yofred Moik<br>
        for <a href="http://omahacodeschool.com" target="_blank">Omaha Code School</a> &copy; 2014</p>
    </div>
</footer>
</body>
</html>